* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html, body {
  height: 100%; /* Make sure body takes full height */
  margin: 0;
  display: flex; /* Allow the body to be a flex container */
  flex-direction: column; /* Stack elements vertically */
}

:root {
  /* Using RGB values for future flexibility with rgba() */
  --page-bg-rgb: 255, 255, 255;
  --text-color-rgb: 51, 51, 51;
  --btn-color-rgb: 255, 0, 0;
  --btn-bg-color-rgb: 224, 224, 224;
  --highlight-link-rgb: 0, 0, 0;

}

body.dark-mode {
  /* Using RGB values for dark mode colors */
  --page-bg-rgb: 18, 18, 18;
  --text-color-rgb: 255, 255, 255;
  --btn-color-rgb: 255, 0, 0;
  --btn-bg-color-rgb: 224, 224, 224;
  --highlight-link-rgb: 0, 0, 0;
}


:root {
  --page-bg: #ffffff;
  --text-color: #333333;
  --btn-color:red;
  --btn-bg-color:#e0e0e0;
  --highlight-link:#000;
  --warning-text:#ff8503;
}



body.dark-mode {
  --page-bg: #121212;
  --text-color: #ffffff;
  --btn-color:red;
  --btn-bg-color:#e0e0e0;
  --highlight-link:#000;
  --warning-text:#ff8503;
}

body {
  background-color: var(--page-bg);
  color: var(--text-color);
  /* Add a smooth transition for the color change */
  transition: background-color 0.4s ease, color 0.4s ease; 
}

body{
  font-family: 'Fira Sans', Arial, sans-serif;
  font-size:16px;
  line-height:1.7;
  padding: 0rem;
  margin:0;
  min-height: 100vh;
}

h1,h2,h3,h4,h5,h6{
  font-family:'Space Grotesk', 'Fira Sans', sans-serif;
  font-weight: 500;
}


header, main, footer {
  margin: 0;
  padding: 1rem;
  box-sizing: border-box;
  width:100%;
}

main {
  flex-grow: 1;
}

img {
  max-width: 100%;
  height: auto;
  display: block;
  margin:0;
}

ul {
list-style-type: none;
  padding: 0;
  
}

ul a {
  margin :0.5rem;
  display: inline;
  background-color:var(--page-bg);
  padding:1rem;
}

a:hover,
a:active,
a:focus,
a.touched{
  background-color: var(--btn-bg-color); 
  color: var(--highlight-link);
  border-color:transparent;
  transition: all ease-in-out 0.3s;
  border-radius: 1rem/4rem;
}

footer {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  margin-top: auto; 
}


/* Header elements */

/* headerbutton background-color switches */

.site-header__button{
  /*width:2rem;*/
  /*height:2rem;*/
  display: flex;
  border-radius: 0.625rem;
  justify-content:center;
  border: 0;
  cursor: pointer;
  padding: 2rem;
  align-items: center;
  flex-shrink: 0;
  background-color: var(--btn-bg-color);
  max-width:4rem;
  max-height:4rem;
}

.site-header__button--touched{

  background-color:var(--btn-color);
}



/* iframe with youtube video */

.youtube-responsive {
  position: relative;
  width: 100%;
  padding-top: 56.25%; /* 16:9 aspect ratio (9/16 = 0.5625) */
  overflow: hidden;
  margin-top:1rem;
  margin-bottom:1rem;
  height:auto;
}
.youtube-responsive iframe {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  border: 0;
  border-radius:1rem 2rem;

}


/* Header display and hidden transitions */
.site-header{
  position: fixed;
  box-sizing: border-box;
  top: 0;
  left: 50%;
  padding:0rem;
  z-index: 1000;
  background-color: transparent; /* or transparent if overlaying */
  box-shadow: 0 2px 4px rgba(0,0,0,0.1); 
  backdrop-filter: blur(8px);
  margin: 0 auto;
  transition: opacity 1.2s ease-in-out 1.2s, 
  transform 1.2s ease-in-out 1.2s,  
  max-height 1.2s ease-in-out 1.2s;
  transform:translateX(-50%);
  max-height:20rem;
  overflow: visible;
  width:100%;
  max-width:1024px;

}
.site-header--hidden{
 opacity: 0;
 transform: translateX(-100%);
 pointer-events: none; /* Disables interaction when hidden */
 max-height:0;
 overflow: hidden;
}


/* header elements like logos and buttons */

.site-header__top{

  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 1rem;
  gap:1rem;

}
.site-header__logo{
  height: auto;
  max-width: 100%;
  max-height: 5rem;
  border-radius: 0.75rem;
  margin:0.4rem auto;
}

.site-header__nav{
  transition: max-height 300ms ease-in-out;
  max-height:0;
  overflow:hidden;
}

.site-header__nav-list{
  display:flex;
  justify-content:center;
  gap:0.6rem;
  padding:0;
  margin: 1rem;
}

.site-header__nav-link {
  /* New styles for the pill shape */
  border-radius: 0px;
  text-decoration: none;
  color: var(--text-color);
}


.site-header__nav--visible{
  max-height:12.5rem;
}


/* Main elements */

/* H1 in main  */
@keyframes slideInFromTop {
  from {
    opacity: 0;
    transform: translateY(-25%);
  }
  to {
    opacity: 1;
    transform: translateY(0);
  }
}


.pagecontent__main-heading{
  display: grid;
  gap: 0.125rem;
  grid-template-columns:1fr;
  text-align:right;

  animation-name: slideInFromTop;
  animation-duration: 1s;
  animation-timing-function:  ease-in-out;
  animation-delay: 1s;
  animation-fill-mode: both;

}

/* Profile Picture  */
.pagecontent__profile-picture{
    border-radius:100%;
    border: 2rem solid  var(--text-color);
    margin: 0 auto;
    width:55%;
    height:auto;
}

/* Value words  */
.pagecontent__value-list{
  display: grid;
  grid-template-columns:1fr 1fr 1fr;
  gap: 0.8rem;
  margin:0.75rem;
  padding:0.75rem;
  text-align:center;
  justify-content: center;
  font-family: 'Space Grotesk'
}



.pagecontent__value-item--padded {
  padding: 0.25rem;
  font-family: 'Space Grotesk';
}

.pagecontent__value-item--highlight{
  color:var(--page-bg);
  background-color:var(--text-color);
  border-radius:2rem 4rem;
  padding: 0.25rem;
}

/* Code + typewriter effects  */

.pagecontent__code-container{

  display:flex;
  width:clamp(100px, 100%, 350px); justify-content:end;
  border-radius: 1rem  3rem;
  height: auto;
  max-width: 100%;
  background: var(--btn-color);
  overflow-x:hidden;
}

.pagecontent__code {
  font-family:'Fira Mono';
  font-weight:500; 
  white-space: pre;
  position:relative;
}

.pagecontent__code--typing::after {
  content: "\25AE"; /* The cursor character */
  color: var(--text-color);
  animation: blink 1s step-end infinite;
  position:relative;
  top:0.1rem;
  height:auto;
}

@keyframes blink {
  from, to { opacity: 1; }
  50% { opacity: 0; }
}
/*  Section header in main  */
.pagecontent__section-heading{
  margin: 1.2rem auto;
  padding:0.2rem;
  background: var(--text-color);
  color: var(--page-bg);
  border-radius:1rem / 0.85rem;
  text-align: center;
}


/* main section paragraph  */

.pagecontent__p{
  font-weight:400;
  margin-top: 0.5rem;
  margin-bottom: 0.5rem;
  text-align:left;
  padding:1rem;
}

.pagecontent__p:nth-child(odd){
  background:var(--text-color);
  color: var(--page-bg);
  border-radius: 3rem  1rem;
  border: groove 0.1rem var(--page-bg);
}

.pagecontent__p:nth-child(even){
  border-radius: 1rem  3rem;
  border: dashed 0.1rem var(--text-color);
}

/*Form Styling*/
.form{
  display:flex;
  padding:2rem;
  width:100%;
  flex-direction:column;
  align-items:center;
  max-width:64rem;
  margin: 0 auto;
}

.form__fieldset{
  border:none;
  width:100%;
}

.form__legend{
  font-size:1.2rem;
  font-weight:500;
  text-align:center;
  margin:0 auto;
}



.form__group{
  display:flex;
  background:var(--text-color);
  color: var(--page-bg);
  padding: 2rem;
  flex-direction:column;
  margin:2rem auto;
  width:100%;
  height:auto;
  align-items:center;

}

.form__group:nth-child(odd){
  border-radius:1rem 5rem 2rem;
}
.form__group:nth-child(even){
  border-radius:5rem 2rem 1rem;
}


.form__label-required{
  color:var(--highlight-link);
  text-decoration-line: underline;
}

.form__label{
  margin: 0.5rem auto;
  padding:1rem;
  text-align:center;
  font-family:"Space Grotesk";
  text-wrap:balance;
  font-weight:600;
}
.form__input{
  padding:1rem;
  min-width:10rem;
  width:100%;
  text-align:center;
}

.form__help-text{
  text-align:right;
  font-family:"Fira Mono";
  font-style:italic;
  text-wrap:balance;
  display:none;
  color:var(--warning-text);
}

.form__help-text--visible{
  display:block;
}

.form__actions{
  display:flex;
  flex-direction:row;
  margin:1rem;
  justify-content:space-between;
}
.form__button{
  width:50%;
  height:auto;
  padding:1rem;
  background:transparent;
  border: 0.5rem solid var(--text-color);
  border-radius: 1rem 2rem;
  text-align:center;
  color:var(--text-color);
  font-family:"Space Grotesk";
  margin:1rem;
}

.form__button--touched{
  background: var(--btn-color);
}

.form__button--primary{
  border-radius: 1rem 2rem;
}
.form__button--secondary{
  border-radius: 2rem 1rem;
}

.form__textarea{
  border-radius: 1rem 3rem;
  width:100%;
  height:auto;
  padding:1.5rem;
  margin:2rem;
}


@keyframes blur-to-sharp {
  from{
    filter:blur(4px);
  }
  to{
    filter:blur(0);
  }
  
}

.form__group{
  animation: blur-to-sharp 2.7s ease-in-out forwards;
}



/* footer   */
.site-footer{
  display:flex;
  margin:0rem auto;
  flex-direction:column;
  align-items:center;
  justify-content:center;
}
.site-footer__social-list{
 display: grid;
  grid-template-columns: repeat(3, auto);
  gap: 1rem;
  margin: 0 auto;
  justify-content: center;
}


.site-footer__social-link{
  display:flex;
  justify-content:center;
  flex-direction: column;
  align-items:center;
  text-align:center;
  font-family: 'Fira Mono';
  text-decoration: none;
  font-size: 0.8rem;
  font-weight: 600;
  color:var(--text-color);
  animation: slant 1.6s infinite;
  text-transform: uppercase;

}

@keyframes slant {
    0% {
    transform: skewX(0deg);
  }
    25% {
    transform: skewX(4deg);
  }
  50% {
    transform: skewX(-6deg); /* You can adjust the degree of the slant here */
  }
  100% {
    transform: skewX(0deg);
  }
}

.site-footer__social-icon{
  height:3rem;
  width:3rem;
  max-height: 4rem;
  max-width: 4rem;
  border-radius:100%;

}

/*Copyright text*/
.site-footer__copyright{
  display:flex;
  margin:1.1rem auto;
  font-weight:300;
  display:flex;
  justify-content:center;
  text-align:center;

}


/* Media queries for responsivnes */



@media (min-width:667px) {
  body{
    font-size:1.1rem;
  }


  .pagecontent{
    display:grid;
    gap: 1rem;
    grid-template-columns: 3fr 1fr 1fr;
    grid-template-areas:
    " . box1 . "
    "box2 . box3"
    "box4 box4 box5"
    "box6 box6 box6"
    "box7 box7 box7";
    align-items:center;
    justify-content:center;
  }

  .site-header{
    grid-area:box1;
  }

  .pagecontent__main-heading{
    grid-area:box2;
    margin-top:7rem;
  }

  .pagecontent__profile-picture{
    grid-area:box3;
    width:60%;
    height:auto;
    margin-top:5rem;
  }
  .pagecontent__code-container{
    grid-area:box4;
  }

  .pagecontent__value-words{
    grid-area:box5;
  }
  .pagecontent__section{
    grid-area:box6;
    width:60%;
    height:auto;
    margin: 0 auto;
  }


  .youtube-responsive {
    grid-area:box7;
    width:50%;
    height:auto;
    margin: 0 auto;
    padding: 9rem;
  }

}

@media (min-width: 1024px) {
  body {
    background: var(--page-bg);
    min-height: 100vh;
    font-size:1.3rem;
    box-sizing:border-box;
  }
.form__group{
  transition: all 1.9s ease-in-out 1.5s;
  overflow:hidden;
  animation:none;
}


.pagecontent{
    display: grid;
    margin:1rem auto;
    gap: 1rem;
    width:100%;
    grid-template-columns: 1fr 1fr;
    grid-template-areas:
      "box1 box1"
      "box2 box2"
      ". ."
      ". ."
      "box3 ."
      "box4 ."
      "box5 box5"
      "box6 box6"
      ". ."
      "box7 box7";

    align-items: center;
    justify-content: center;
 }

  .site-header{
    grid-area:box1;
    background-color:rgba(var(--text-color-rgb), 0.3);
    top:0;
    border: solid 1.5rem rgba(var(--page-bg-rgb),0.3);
    /*border-radius: 1rem/4rem;*/
    
  }
  .pagecontent__main-heading{
    grid-area:box2;
    justify-self:center;
    margin-top:7rem;
    margin-left: 10rem;
  }
  .pagecontent__profile-picture{
    grid-area:box3;
    width:40%;
    margin-top: -7rem;
    align-self:start;
  }

  .pagecontent__code-container{
    grid-area:box4;
    justify-self:center;
    padding:0.8rem;
  }
  .pagecontent__section{
    display:grid;
    grid-template-columns:1fr;
    grid-area:box6;
    width:100%;
    height:auto;
    row-gap:1rem;
    padding:1rem;
    margin:0 auto;
  }

  .pagecontent__section-heading{
    width: 100%;
  }

.pagecontent__p:nth-child(odd) {
  max-width:50%;
  justify-self: start;
  height:auto;
}

.pagecontent__p:nth-child(even) {
  max-width:50%;
  justify-self:end;
}

  .youtube-responsive{
    grid-area:box7;
    width:50%;
    height:auto;
    margin: 0 auto;
    padding:10rem;
  }
}

